{% extends "base.html" %}
{% block content %}

<div class="main-container container">
    <div class="file-section">
        <h1>Upload Medical Report</h1>
        <div class="form-section">
            <i class='bx bxs-cloud-upload'></i>
            <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".png,.jpg,.jpeg,.pdf,.docx,.txt" required id="fileInput">
            </form>
            <span>Select an file to upload</span>
            <p>(.png,.jpg,.jpeg,.pdf,.docx,.txt)</p>
        </div>
        <button type="submit" id="upload">Upload</button>
    </div>
</form>

<div id="result"></div>
</div>

<script>

    const uploadBox = document.querySelector(".form-section");
    const fileInput = document.getElementById('fileInput');
    console.log(fileInput)

    uploadBox.addEventListener('click', (e) => {
        fileInput.click();
    })
    
</script>

{% endblock %}
