@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #000;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
html{
    font-size: 18px;
}
html,body {
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}

/* Sidebar  */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    padding: 3px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .search-box{
    background-color: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.nav-link.active{
    background: var(--primary-color);
    border-radius: 6px;
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar .nav-link.active a .icon,
.sidebar .nav-link.active a .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text,
body.dark .sidebar .nav-link.active a .icon,
body.dark .sidebar .nav-link.active a .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background-color: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

/* ============Home============ */

.home{
    position: relative;
    left: 250px;
    height: 100vh;
    display: flex;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    background: var(--body-color);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.home .main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.home .container{
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    gap: 30px;
}

.home .container .profile-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: var(--text-color);
}

.home .container .profile-info .profile-text{
    display: flex;
    flex-direction: column;
}

.home .container .profile-info .profile-text .name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: -3px;
}

.home .container .profile-info .profile-img{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container .profile-info .profile-img img{
    width: 50px;
}

.home .container .user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home .container .user-info .info-params{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

.home .container .user-info .info-params .value{
    font-size: 30px;
}

.home .container .health-details{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.home .container .health-details .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 200px;
    height: 200px;
    background: var(--primary-color-light);
    border-radius: 20px;
    transition: var(--tran-04);
}

.home .container .health-details .card:hover{
    transform: scale(1.05);
}

.home .container .health-details .card .measure-value{
    font-size: 40px;
    font-weight: 500;
}

#model-section{
    width: 500px;
    height: 100vh;
    background-color: var(--primary-color-light);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

.file-section{
    width: 100%;
    background-color: var(--primary-color-light);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-section h1{
    font-weight: 600;
}

.file-section .form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #e1dffc;
    border: 2px;
    border-color: var(--primary-color);
    border-style: dashed;
    border-radius: 10px;
    cursor: pointer;
}

.file-section #upload{
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.file-section .form-section i{
    font-size: 120px;
    color: var(--primary-color);
}

.file-section .form-section #fileInput{
    display: none;
}

.file-section .form-section span{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
}

.file-section .form-section p{
    font-size: 15px;
    color: var(--primary-color);
}

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .sides{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-container .sides .rightside{
    width: 500px;
    height: 70vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms{
    width: 500px;
    background-color: var(--sidebar-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.btn{
    padding: 7px 10px;
    color: var(--body-color);
    background-color: #695cfe;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

.forms h2,a{
    color: var(--primary-color);
    font-weight: 600;
}

.forms p{
    font-size: 12px;
}

.forms .inputField{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.forms .inputField label{
    font-size: 14px;
    margin-bottom: 3px;
}

.forms .inputField input{
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
    border: 0px 0px 1px 0px;
    border-color: #695cfe;
    border-style: solid;
}

#calendar {
    max-width: 1200px;
    color: var(--text-color);
}
#appointment-form {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}
#available-slots {
    max-width: 600px;
    margin: 20px auto;
}

.profile{
    color: var(--text-color);
}


.header, .chat-list .message, .typing-form {
  margin: 0 auto;
  max-width: 980px;
}

.header {
  margin-top: 6vh;
  padding: 1rem;
  overflow-x: hidden;
}

body.hide-header .header {
  margin: 0;
  display: none;
}

.header :where(.title, .subtitle) {
  color: var(--text-color);
  font-weight: 500;
  line-height: 4rem;
}

.header .title {
  width: fit-content;
  font-size: 3rem;
  background-clip: text;
  background: linear-gradient(to right, #4285f4, #d96570);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .subtitle {
  font-size: 2.6rem;
  color: var(--subheading-color);
}

.suggestion-list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1.25rem;
  margin-top: 9.5vh;
  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.suggestion-list .suggestion {
  cursor: pointer;
  padding: 1.25rem;
  width: 222px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0.75rem;
  justify-content: space-between;
  background: var(--secondary-color);
  transition: 0.2s ease;
}

.suggestion-list .suggestion:hover {
  background: var(--secondary-hover-color);
}

.suggestion-list .suggestion :where(.text, .icon) {
  font-weight: 400;
  color: var(--text-color);
}

.suggestion-list .suggestion .icon {
  width: 42px;
  height: 42px;
  display: flex;
  font-size: 1.3rem;
  margin-top: 2.5rem;
  align-self: flex-end;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  color: var(--text-color);
  background: var(--primary-color);
}

.chat-list {
  padding: 2rem 1rem 12rem;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-color: #999 transparent;
}

.chat-list .message.incoming {
  margin-top: 1.5rem;
}

.chat-list .message .message-content {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.chat-list .message .text {
  color: var(--text-color);
  white-space: pre-wrap;
}

.chat-list .message.error .text {
  color: #e55865;
}

.chat-list .message.loading .text {
  display: none;
}

.chat-list .message .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  align-self: flex-start;
}

.chat-list .message.loading .avatar {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.chat-list .message .icon {
  color: var(--text-color);
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 1.25rem;
  margin-left: 3.5rem;
  visibility: hidden;
}

.chat-list .message .icon.hide {
  visibility: hidden;
}

.chat-list .message:not(.loading, .error):hover .icon:not(.hide){
  visibility: visible;
}

.chat-list .message .icon:hover {
  background: var(--secondary-hover-color);
}

.chat-list .message .loading-indicator {
  display: none;
  gap: 0.8rem;
  width: 100%;
  flex-direction: column;
}

.chat-list .message.loading .loading-indicator {
  display: flex;
}

.chat-list .message .loading-indicator .loading-bar {
  height: 11px;
  width: 100%;
  border-radius: 0.135rem;
  background-position: -800px 0;
  background: linear-gradient(to right, #4285f4, var(--primary-color), #4285f4);
  animation: loading 3s linear infinite;
}

.chat-list .message .loading-indicator .loading-bar:last-child {
  width: 70%;
}

@keyframes loading {
  0% {
    background-position: -800px 0;
  }

  100% {
    background-position: 800px 0;
  }
}

.typing-area {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background: var(--primary-color);
}

.typing-area :where(.typing-form, .action-buttons) {
  display: flex;
  gap: 0.75rem;
}

.typing-form .input-wrapper {
  width: 100%;
  height: 56px;
  display: flex;
  position: relative;
}

.typing-form .typing-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
  color: var(--text-color);
  padding: 1.1rem 4rem 1.1rem 1.5rem;
  border-radius: 100px;
  background: var(--secondary-color);
}

.typing-form .typing-input:focus {
  background: var(--secondary-hover-color);
}

.typing-form .typing-input::placeholder {
  color: var(--placeholder-color);
}

.typing-area .icon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  font-size: 1.4rem;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  transition: 0.2s ease;
}

.typing-area .icon:hover {
  background: var(--secondary-hover-color);
}

.typing-form #send-message-button {
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  transform: scale(0);
  background: transparent;
  transition: transform 0.2s ease;
}

.typing-form .typing-input:valid ~ #send-message-button {
  transform: scale(1);
}

.typing-area .disclaimer-text {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 1rem;
  color: var(--placeholder-color);
}

/* Responsive media query code for small screen */
@media (max-width: 768px) {
  .header :is(.title, .subtitle) {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .header .subtitle {
    font-size: 1.7rem;
  }

  .typing-area :where(.typing-form, .action-buttons) {
    gap: 0.4rem;
  }

  .typing-form .input-wrapper {
    height: 50px;
  }

  .typing-form .typing-input {
    padding: 1.1rem 3.5rem 1.1rem 1.2rem;
  }

  .typing-area .icon {
    height: 50px;
    width: 50px;
  }

  .typing-area .disclaimer-text {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
}

.appointment-search-container{
  max-width: 1000px;
  width: 900%;
  background-color: #ffffff;
  padding:20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 16px 30px rgba(0,0,0,0.12);
  margin-top: 10px;
  z-index: 3;
  position: relative;
}
.appointment-search-container h3{
  color: #122853;
  font-size: 1rem;
  margin-bottom: 5px;
}
.appointment-search{
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  grid-gap: 10px;
}
.appo-search-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7fbff;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
}
.appo-search-box i{
  color: #535353;
  margin-right: 10px;
}
.appo-search-box input{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.appointment-search button{
  background-color: #014dd5;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  position:relative
}